/* header */
header{
    text-align: center;
}
/* ==== content01 ==== */
.content01{
    width: 35%;
    margin-left: 50px;
}
/* manual01 */
.manual01{
    border: 1px solid gray;
    margin-bottom: 10px;
    width: 95%;
    margin-left: 2%;
}
.manual01>p{
    text-align: center;
}
.manual01-p02{
    border: 1px solid gray;
    width: 90%;
    margin-left: 20px;
}
/* manual02 */
.manual02{
    border: 1px solid gray;
    margin-bottom: 10px;
    width: 95%;
    margin-left: 2%;
}
/* manual03 */
.manual03{
    border: 1px solid gray;
    margin-bottom: 10px;
    width: 95%;
    margin-left: 2%;
}

/* ==== content02 ==== */
.content02{
    width: 35%;
    margin-left: 30px;
}
/* footer */
footer{
    text-align: center;
}