<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 수정</title>
    <style>
        a{
            text-decoration: none;
        }
        #wrap{
            min-height: 100%;
            position: relative;
            /*padding-bottom: 50px;*/
        }
        /* header */
        header{
            text-align: center;
        }

        /* footer */
        footer{
            text-align: center;
            width: 100%;
            /*position: absolute;*/
            /*position: fixed;*/
            bottom: 0px;
            height: 80px;
        }
    </style>

    <link rel="stylesheet" type="text/css" th:href="@{/css/member/editList.css}"/>
</head>
<body>
<div id="wrap">

<!-- header -->
<header th:replace="~{/common/header :: headerFragment}">
    <h1>HEADER</h1>
</header>

<!-- --------------------------------------------------------- -->
<!-- login : o -->
<div th:if="${member_id}">
    <!--    <h1>안녕하세요:)</h1>-->
    <p> <span th:text="${member_id}"></span> 님!</p>
    <form action="/member/logout" method="get">
        <button type="submit">로그아웃</button>
    </form>
</div>

<!-- login : x -->
<div th:if="${member_id == null}">
    <form action="/member/login" method="get">
        <button type="submit">로그인</button>
    </form>
    <form action="/member/register" method="get">
        <button type="submit">회원가입</button>
    </form>
</div>

<!-- 회원리스트보기 버튼(관리자용) -->
<div th:if="${member_id == 'admin'}">
    <button type="button" onclick="location.href='/member/userList'">회원목록 관리</button>
</div>

<!-- --------------------------------------------------------- -->
<!-- contents-->
<h1>회원 수정</h1>

<form action="/member/editList" method="post">
<!--    <input type="hidden" id="memberNo" name="memberNo" th:value="${member.memberNo}">-->

    <label for="member_id">회원 아이디:</label>
    <input type="text" id="member_id" name="member_id" th:value="${member.member_id}" required>
    <br>

    <label for="member_pw">회원 비밀번호:</label>
    <input type="password" id="member_pw" name="member_pw" th:value="${member.member_pw}" required>
    <br>

    <label for="member_name">회원 이름:</label>
    <input type="text" id="member_name" name="member_name" th:value="${member.member_name}" required>
    <br>

    <label for="member_phone">회원 전화번호:</label>
    <input type="text" id="member_phone" name="member_phone" th:value="${member.member_phone}" required>
    <br>

    <label for="member_role">권한 :</label>
    <input type="text" id="member_role" name="member_role" th:value="${member.member_role}" required>
    <br>

    <label for="guardians_role">방범대 권한:</label>
    <input type="text" id="guardians_role" name="guardians_role" th:value="${member.guardians_role}" required>
    <br>
<!--    <label for="role">역할:</label>-->
<!--    <select id="role" name="role" th:value="${member.role}">-->
<!--        <option value="USER">사용자</option>-->
<!--        <option value="ADMIN">관리자</option>-->
<!--    </select>-->

    <br>
    <button type="submit">수정</button>
    <a href="/member/userList">취소</a>
</form>

<!-- --------------------------------------------------------- -->
<!-- footer -->
<footer th:insert="~{/common/footer :: footerFragment}">
    <h1>FOOTER</h1>
</footer>

</body>
</html>
