<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/map/map.css}" />
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=6b56a30bfcc4e88c31b709180704c3ee&libraries=services,clusterer,drawing">
    </script>
</head>
<body>
<!-- header -->
<header th:replace="~{/common/header :: headerFragment}">
    <h1>HEADER</h1>
</header>

<!-- --------------------------------------------------------- -->
<div>
    <!-- login : o -->

    <div th:if="${member_id}" style="display: flex; justify-content: right; margin-right: 150px; margin-bottom: 20px;">
        <div style="margin-right: 10px;">
            <p> <span th:text="${member_id}"></span> 님</p>
        </div>
        <div>
            <form action="/member/logout" method="get">
                <button type="submit" style="margin-top: 10px; border: 1px solid lightgray; background-color: #F5F5F5; box-shadow: 1px 1px 1px gray; width: 70px; height: 35px; border-radius: 5px;">
                    로그아웃
                </button>
            </form>
        </div>
        <!---->
        <!-- 회원리스트보기 버튼(관리자용) -->
        <div th:if="${member_id == 'admin'}" style="margin-left: 20px;">
            <button type="button" onclick="location.href='/member/userList'"
                    style="margin-top: 10px; border: 1px solid lightgray; background-color: #F5F5F5; box-shadow: 1px 1px 1px gray; width: 100px; height: 35px; border-radius: 5px;">
                회원목록 관리
            </button>
        </div>
    </div>

    <!-- login : x -->
    <div th:if="${member_id == null}" style="display: flex; justify-content: right; margin-right: 150px; margin-bottom: 20px;">
        <div>
            <form action="/member/login" method="get">
                <button type="submit"
                        style="margin-right: 10px; margin-top: 10px; border: 1px solid lightgray; background-color: #F5F5F5; box-shadow: 1px 1px 1px gray; width: 70px; height: 35px; border-radius: 5px;">
                    로그인
                </button>
            </form>
        </div>
        <div>
            <form action="/member/register" method="get">
                <button type="submit" style="margin-top: 10px; border: 1px solid lightgray; background-color: #F5F5F5; box-shadow: 1px 1px 1px gray; width: 80px; height: 35px; border-radius: 5px;">
                    회원가입
                </button>
            </form>
        </div>
    </div>

    <!--    &lt;!&ndash; 회원리스트보기 버튼(관리자용) &ndash;&gt;-->
    <!--    <div th:if="${member_id == 'admin'}">-->
    <!--        <button type="button" onclick="location.href='/member/userList'"-->
    <!--                style="margin-top: 10px; border: 1px solid lightgray; background-color: #F5F5F5; box-shadow: 1px 1px 1px gray; width: 100px; height: 35px; border-radius: 5px;">-->
    <!--            회원목록 관리-->
    <!--        </button>-->
    <!--    </div>-->

</div>



<!-- --------------------------------------------------------- -->
<!-- contents-->
<div class="contents">
    <!-- aside -->
    <aside class="aside">
        <div class="aside-div" >
            <!-- 바로가기 -->
            <p class="aside-shortcut">
                바로가기
            </p>

            <!-- 간편창 -->
            <table border="1" class="aside-tbl">
                <!--        <thead>-->
                <!--            <tr>-->
                <!--                <th>바로가기</th>-->
                <!--            </tr>-->
                <!--        </thead>-->
                <tbody>
                <tr>
                    <td class="aside-td"><a onclick="location.href='/map'" >내 주변 <br/>아동안전지킴이집</a></td>
                </tr>
                <tr>
                    <td class="aside-td"><a onclick="location.href='/community/list'">자율방범대 <br/> 커뮤니티</a></td>
                </tr>
                <tr>
                    <td class="aside-td"><a onclick="location.href='/angel/angel'">내 근처 <br/> 아동수호천사</a></td>
                </tr>
                <tr>
                    <td class="aside-td"><a  onclick="location.href='/manual/manual'">비상 상황 메뉴얼</a></td>
                </tr>
                <tr>
                    <td><a href="#">실종아동센터 <br/> 182</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </aside>

    <!-- 지도-->
    <section class="section" style="background-color: #E5F3F5;">
        <div class="sec-div">
            <!-- mainBox1-->
            <div class="mainBox1">

                <p class="title">아동안전지킴이집 위치 찾기</p>

                <!--<button onclick="safeMarker()">마커 생성</button>-->
                <span class="radius-choice">현재위치 반경 선택</span>
                <input type="radio" class='radioButton' label='Option 1' name='radiobtn' value="1" onclick="sendLocation(value)" ><label>1km</label>
                <input type='radio' class='radioButton' label='Option 2' name='radiobtn' value="2" onclick="sendLocation(value)" ><label>2km</label>
                <input type='radio' class='radioButton' label='Option 3' name='radiobtn' value="3" onclick="sendLocation(value)" ><label>3km</label>
                <input type='radio' class='radioButton' label='Option 3' name='radiobtn' value="5" onclick="sendLocation(value)" ><label>5km</label>

                <!--<button onclick="subwayMarker()">지하철역 근처</button>-->

                <form class="search-box" onsubmit="searchPlaces(); return false;">
                    <div class="search-text">지역검색 <input type="text" id="keyword" class="search-form" placeholder="ex) 태릉입구역, 태릉초등학교..." size="15">
                        <button class="search-button" type="submit">검색</button>
                        <p style="font-size: 16px; text-align: right; padding: 0; margin: 0 0 5px 0">검색위치
                            <img style="width: 15px; height: 20px;" src="https://t1.daumcdn.net/localimg/localimages/07/2018/pc/img/marker_spot.png">
                        </p>
                    </div>
                </form>


                <div class="map_wrap">
                    <div id="map" style="width:500px;height:450px;position:relative;overflow:hidden;">
                    </div>
                </div>
            </div>

            <!-- mainBox2 -->
            <div class="mainBox2">
                <div class="safeListBox1">
                    <p style="font-size: 21px; font-weight: bold; text-align: center">아동안전지킴이집 리스트</p>
                </div>
                <div class="safeListBox2">
                    <!-- 데이터를 표시할 요소 추가 -->
                    <div id="locationList"></div>
                </div>
            </div>
        </div>


    </section>
</div>


<!-- script -->

<!-- JSON 데이터를 포함시킵니다 -->
<script th:inline="javascript">
    /*<![CDATA[*/
    var locationData = /*[[${locationDataList}]]*/ [];
    /*]]>*/
</script>

<script>
    // const curBtn = document.getElementById("curBtn");
    // curBtn.addEventListener("click", sendLocation(2));

    // 마커를 담을 배열
    var markers = [];
    var markers1 = [];

    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
            level: 6 // 지도의 확대 레벨
        };

    // 지도 생성
    var map = new kakao.maps.Map(mapContainer, mapOption);
    // 장소 검색 객체 생성
    var ps = new kakao.maps.services.Places();
    // 마커 클릭 시 장소명 표출하는 인포윈도우
    var infowindow = new kakao.maps.InfoWindow({zIndex:1});

    // 현재 위치 가져오기
    navigator.geolocation.getCurrentPosition(
        function(position) {
            var lat = position.coords.latitude, // 위도
                lon = position.coords.longitude; // 경도
            var locPosition = new kakao.maps.LatLng(lat, lon); // 마커가 표시될 위치를 좌표로 생성
            // 마커 표시
            displayMarker(locPosition);
        });

    // JSON 데이터를 파싱하여 리스트로 변환합니다
    var locationList = JSON.parse(JSON.stringify(locationData));

    function sendLocation(value) {
        navigator.geolocation.getCurrentPosition(
            function(position) {
                var lat = position.coords.latitude, // 위도
                    lon = position.coords.longitude; // 경도
                var locPosition = new kakao.maps.LatLng(lat, lon); // 마커가 표시될 위치를 좌표로 생성
                // 마커 표시
                displayMarker(locPosition);
                // 범위 계산
                const bounds = calculateBounds(lat, lon, value); // km 범위 계산

                // fetchData로 이동하면서 계산된 범위 전달
                // window.location.href = `/fetchData?minLat=${bounds.minLat}&maxLat=${bounds.maxLat}&minLon=${bounds.minLon}&maxLon=${bounds.maxLon}`;

                // return value;
                fetchSafetyHouses(bounds);
            });
    }

    // 위도와 경도의 범위를 계산하는 함수
    function calculateBounds(lat, lon, radius) {
        const earthRadius = 6371; // 지구의 반지름 (단위: km)
        const radLat = lat * (Math.PI / 180);
        const radLon = lon * (Math.PI / 180);
        const radDist = radius / earthRadius;
        const minLat = radLat - radDist;
        const maxLat = radLat + radDist;
        const minLon = radLon - radDist / Math.cos(radLat);
        const maxLon = radLon + radDist / Math.cos(radLat);
        return {
            minLat: minLat * (180 / Math.PI),
            maxLat: maxLat * (180 / Math.PI),
            minLon: minLon * (180 / Math.PI),
            maxLon: maxLon * (180 / Math.PI)
        };
    }

    // 지도에 마커를 표시하는 함수
    function displayMarker(locPosition) {

        removeMarker1();

        // 마커 생성
        var marker = new kakao.maps.Marker({
            map: map,
            position: locPosition
        });
        // 지도 중심좌표를 접속위치로 변경
        map.setCenter(locPosition);

        marker.setMap(map);
        markers1.push(marker);
    }

    function fetchSafetyHouses(bounds) {
        fetch(`/fetchData?minLat=${bounds.minLat}&maxLat=${bounds.maxLat}&minLon=${bounds.minLon}&maxLon=${bounds.maxLon}`)
            .then(response => response.json())
            .then(data => {
                console.log(data);
                removeMarker();

                // 데이터 표시할 HTML 요소 초기화
                const locationListDiv = document.getElementById('locationList');
                locationListDiv.innerHTML = '';

                data.forEach(locationData => {
                    var safetyHouse = new kakao.maps.LatLng(locationData.lcinfoLa, locationData.lcinfoLo);
                    var marker = new kakao.maps.Marker({
                        map: map,
                        position: safetyHouse,
                        image: new kakao.maps.MarkerImage(
                            "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png",
                            new kakao.maps.Size(24, 35)
                        )
                    });

                    kakao.maps.event.addListener(marker, 'click', function () {
                        displayInfowindow(marker, locationData.bsshNm, locationData.adres, locationData.telno);
                    });

                    marker.setMap(map);
                    markers.push(marker);

                    // HTML에 데이터 추가
                    const locationDiv = document.createElement('div');
                    locationDiv.classList.add('location-item');
                    locationDiv.innerHTML = `
                        <p class="list-style-title">${locationData.rn}. ${locationData.bsshNm}</p>
                        <p class="list-style" style="padding-left: 30px;padding-right: 10px; line-height: 1.6">${locationData.adres}</p>
                        <p class="list-style" style="padding-bottom: 10px;padding-left: 30px;">${locationData.telno}</p>
                        <hr>
                    `;
                    locationListDiv.appendChild(locationDiv);
                });
            })
            .catch(error => console.error('Error fetching data:', error));
    }

    // 키워드로 장소를 검색합니다
    searchPlaces();

    // 키워드 검색 요청 함수
    function searchPlaces() {
        var keyword = document.getElementById('keyword').value;
        // 장소검색 객체를 통해 키워드로 장소검색을 요청합니다
        ps.keywordSearch(keyword, placesSearchCB);
    }

    // 장소검색이 완료됐을 때 호출되는 콜백함수 입니다
    function placesSearchCB(data, status, pagination) {
        if (status === kakao.maps.services.Status.OK) {
            // 정상적으로 검색이 완료됐으면
            // 검색 목록과 마커를 표출합니다
            subwayLocation(data);

            // 지하철역 검색 시 근저 지킴이집 마커 표시
            if (data.length > 0) {
                const lat = data[0].y;
                const lon = data[0].x;
                const bounds = calculateBounds(lat, lon, 2);
                fetchSafetyHouses(bounds);
            }

            // 페이지 번호를 표출합니다
            displayPagination(pagination);
        } else if (status === kakao.maps.services.Status.ZERO_RESULT) {
            alert('검색 결과가 존재하지 않습니다.');
            return;
        } else if (status === kakao.maps.services.Status.ERROR) {
            alert('검색 결과 중 오류가 발생했습니다.');
            return;
        }
    }

    function subwayLocation(places) {

        var lat = places[0].y, // 위도
            lon = places[0].x; // 경도

        var subwaySafetyMarker = new kakao.maps.LatLng(lat, lon);

        displayMarker(subwaySafetyMarker);

        const bounds = calculateBounds(lat, lon, 2);

        fetchSafetyHouses(bounds);
    }


    function safeMarker() {
        // 마커 이미지의 이미지 주소입니다
        var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";

        for (var i = 0; i < locationData.length; i++) {

            var safetyHouse = new kakao.maps.LatLng(locationData[i].lcinfoLa, locationData[i].lcinfoLo);

            // 마커 이미지의 이미지 크기 입니다
            var imageSize = new kakao.maps.Size(24, 35);

            // 마커 이미지를 생성합니다
            var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);

            // 마커를 생성합니다
            var marker = new kakao.maps.Marker({
                map: map, // 마커를 표시할 지도
                position: safetyHouse, // 마커를 표시할 위치
                // title: locationList[i].bsshNm, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
                image: markerImage // 마커 이미지
            });

            // 마커와 검색 결과 항목에 클릭 이벤트 등록
            (function (marker, title, adres, telno) {
                kakao.maps.event.addListener(marker, 'click', function () {
                    displayInfowindow(marker, title, adres, telno);
                });
            })(marker, locationData[i].bsshNm, locationData[i].adres, locationData[i].telno);

            marker.setMap(map); // 지도 위에 마커 표시
            markers.push(marker);  // 배열에 생성된 마커 추가
        }
        return marker;
    }

    // 지도 위에 표시되고 있는 마커 모두 제거
    function removeMarker() {
        for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(null);
        }
        markers = [];
    }

    // 지도 위에 표시되고 있는 마커 모두 제거
    function removeMarker1() {
        for (var i = 0; i < markers1.length; i++) {
            markers1[i].setMap(null);
        }
        markers1 = [];
    }

    // 클릭한 마커에 인포윈도우 표시
    function displayInfowindow(marker, title, adres, telno) {
        var infotitle = `안전가게명: ${title}<br>주소: ${adres}<br>전화번호: ${telno}`;
        var content = `<div style="font-size: 12px; width:100%; line-height: 17px; z-index:1; padding: 7px;">${infotitle}</div>`;
        infowindow.setContent(content);
        infowindow.open(map, marker);
    }
</script>

<!— footer —>
<footer th:insert="~{/common/footer :: footerFragment}">
    <h1>FOOTER</h1>
</footer>

</body>
</html>
