<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style></style>

  <link rel="stylesheet" type="text/css" th:href="@{/css/angel/angel.css}"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Nanum+Gothic&display=swap" rel="stylesheet">
</head>
<body>
<!-- header -->
<header th:replace="~{/common/header :: headerFragment}">
  <h1>HEADER</h1>
</header>

<!-- --------------------------------------------------------- -->
<div>
  <!-- login : o -->

  <div th:if="${member_id}" style="display: flex; justify-content: right; margin-right: 150px; margin-bottom: 20px;">
    <div style="margin-right: 10px;">
      <p> <span th:text="${member_id}"></span> 님</p>
    </div>
    <div>
      <form action="/member/logout" method="get">
        <button type="submit" style="margin-top: 10px; border: 1px solid lightgray; background-color: #F5F5F5; box-shadow: 1px 1px 1px gray; width: 70px; height: 35px; border-radius: 5px;">
          로그아웃
        </button>
      </form>
    </div>
    <!---->
    <!-- 회원리스트보기 버튼(관리자용) -->
    <div th:if="${member_id == 'admin'}" style="margin-left: 20px;">
      <button type="button" onclick="location.href='/member/userList'"
              style="margin-top: 10px; border: 1px solid lightgray; background-color: #F5F5F5; box-shadow: 1px 1px 1px gray; width: 100px; height: 35px; border-radius: 5px;">
        회원목록 관리
      </button>
    </div>
  </div>

  <!-- login : x -->
  <div th:if="${member_id == null}" style="display: flex; justify-content: right; margin-right: 150px; margin-bottom: 20px;">
    <div>
      <form action="/member/login" method="get">
        <button type="submit"
                style="margin-right: 10px; margin-top: 10px; border: 1px solid lightgray; background-color: #F5F5F5; box-shadow: 1px 1px 1px gray; width: 70px; height: 35px; border-radius: 5px;">
          로그인
        </button>
      </form>
    </div>
    <div>
      <form action="/member/register" method="get">
        <button type="submit" style="margin-top: 10px; border: 1px solid lightgray; background-color: #F5F5F5; box-shadow: 1px 1px 1px gray; width: 80px; height: 35px; border-radius: 5px;">
          회원가입
        </button>
      </form>
    </div>
  </div>

  <!--    &lt;!&ndash; 회원리스트보기 버튼(관리자용) &ndash;&gt;-->
  <!--    <div th:if="${member_id == 'admin'}">-->
  <!--        <button type="button" onclick="location.href='/member/userList'"-->
  <!--                style="margin-top: 10px; border: 1px solid lightgray; background-color: #F5F5F5; box-shadow: 1px 1px 1px gray; width: 100px; height: 35px; border-radius: 5px;">-->
  <!--            회원목록 관리-->
  <!--        </button>-->
  <!--    </div>-->

</div>


<!-- --------------------------------------------------------- -->
<!-- contents-->
<div class="contents">
  <!-- aside -->
  <aside class="aside">
    <div class="aside-div" >
      <!-- 바로가기 -->
      <p class="aside-shortcut">
        바로가기
      </p>

      <!-- 간편창 -->
      <table border="1" class="aside-tbl">
        <!--        <thead>-->
        <!--            <tr>-->
        <!--                <th>바로가기</th>-->
        <!--            </tr>-->
        <!--        </thead>-->
        <tbody>
        <tr>
          <td class="aside-td"><a onclick="location.href='/map'">내 주변 <br/>아동안전지킴이집</a></td>
        </tr>
        <tr>
          <td class="aside-td"><a onclick="location.href='/community/list'">자율방범대 <br/> 커뮤니티</a></td>
        </tr>
        <tr>
          <td class="aside-td"><a onclick="location.href='/angel/angel'">내 근처 <br/> 아동수호천사</a></td>
        </tr>
        <tr>
          <td class="aside-td"><a  onclick="location.href='/manual/manual'">비상 상황 메뉴얼</a></td>
        </tr>
        <tr>
          <td><a href="#">실종아동센터 <br/> 182</a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </aside>
  <!-- 게시판 -->
  <!-- section -->
  <!-- 게시판 -->
  <section class="section">

    <div class="sec-div">

      <p class="sec-title">수호천사 리스트</p>

      <table border="1" class="sec-tbl">
      <!-- thead -->
      <thead>
      <tr>
        <th>이름</th>
        <th>나이</th>
        <th>직업</th>
        <th>근무지</th>
        <th>전화번호</th>
      </tr>
      </thead>


      <tbody>
      <tr>
        <td>안0영</td>
        <td>30대</td>
        <td>태권도 사범</td>
        <td>태릉입구역 근처</td>
        <td>02-937-2312</td>
      </tr>
      <tr>
        <td>김O수</td>
        <td>50대</td>
        <td>아쿠르트 아주머니</td>
        <td>당산역 근처</td>
        <td>02-381-8709</td>
      </tr>
      <tr>
        <td>진O재</td>
        <td>40대</td>
        <td>집배원</td>
        <td>공릉역 근처</td>
        <td>02-471-6678</td>
      </tr>
      <tr>
        <td>박O연</td>
        <td>30대</td>
        <td>태권도 사범</td>
        <td>구파발역 근처</td>
        <td>02-298-9866</td>
      </tr>
      </tbody>
    </table>
  </div>
</section>

</div>

<!-- --------------------------------------------------- -->
<!-- footer -->
<footer th:insert="~{/common/footer :: footerFragment}">
  <h1>FOOTER</h1>
</footer>
</body>
</html>