<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ohgiraffers.childprotectproject.member.DTO.MemberDAO">
    <insert id="insertMember" parameterType="com.ohgiraffers.childprotectproject.member.DTO.MemberDTO">
        INSERT INTO member (member_id, member_pw, member_name, member_phone, member_role, guardians_role)
        VALUES (#{member_id}, #{member_pw}, #{member_name}, #{member_phone}, #{member_role}, #{guardians_role})
    </insert>

    <select id="selectMemberById" parameterType="String" resultType="com.ohgiraffers.childprotectproject.member.DTO.MemberDTO">
        SELECT * FROM member WHERE member_id = #{member_id}
    </select>


    <select id="getMemberById" parameterType="String" resultType="com.ohgiraffers.childprotectproject.member.DTO.MemberDTO">
        SELECT * FROM member WHERE member_id = #{member_id}
    </select>

    <select id="selectAllMembers" resultType="com.ohgiraffers.childprotectproject.member.DTO.MemberDTO">
        SELECT * FROM member
    </select>

    <update id="updateMember" parameterType="com.ohgiraffers.childprotectproject.member.DTO.MemberDTO">
        UPDATE member
        SET member_pw = #{member_pw}, member_name = #{member_name}, member_phone = #{member_phone}, member_role = #{member_role}, guardians_role = #{guardians_role}
        WHERE member_no = #{member_no}
    </update>

    <delete id="deleteMember" parameterType="int">
        DELETE FROM member WHERE member_no = #{member_no}
    </delete>

    <select id="getMemberRole" parameterType="int" resultType="com.ohgiraffers.childprotectproject.member.common.UserRole">
        SELECT member_role FROM member WHERE member_no = #{member_no}
    </select>
</mapper>