body{
    font-family: "Nanum Gothic", sans-serif;
}
/* 공통 */
a{
    text-decoration: none;
}
#wrap{
    min-height: 100%;
    position: relative;
    /*padding-bottom: 50px;*/
}
/* header */
header{
    text-align: center;
}
.header-home{
    /*font-size: 30px;*/
    /*font-weight: bolder;*/
}
.logo{
    background-image: url("../../img/headerlogo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    width: 120px;
    height: 65px;

}

/* footer */
footer{
    text-align: center;
    width: 100%;
    /*position: absolute;*/
    /*position: fixed;*/
    bottom: 0px;
    background-color: white;
    height: 80px;
}
/* ------------------------------------------------- */