/* main 페이지 */
a{
    text-decoration: none;
}
/* header */
header{
    text-align: center;
}

/* contents */
/* content01 */
.content01{
    display: flex;
    justify-content: center;
}
.con01-div01{
    border:1px solid gray;
    width: 40%;
    height: 200px;
    margin-right: 20px;
}
.con01-div02{
    border:1px solid gray;
    width: 40%;
    height: 200px;
}

/* content02 */
.content02{
    display: flex;
    justify-content: center;
}
.con02-div{
    margin-right: 8%;
    text-align: center;
}
.con02-btn{
    width: 150px;
    height: 150px;
    border-radius: 75px;
    border: 0px;
    box-shadow: 1px 1px 1px gray;
}

/* footer */
footer{
    text-align: center;
}